<!DOCTYPE html>
<html>
<head>
    <title>NOTHING IMPORTANT UP HERE</title>
</head>
<body>
    <form action="/breweries" method="POST">
        <input type="text" name="name">
        <label for="name">Name Your Brewery</label>
        <input type="text" name="location">
        <label for="location">Location</label>
        <input type="text" name="blurb">
        <label for="blurb">Tell Us About Yo' Brewery... PLEASE!!!</label>
        <input type="submit" value="CREATE YE GODS">
    </form>
</body>
</html>