<!DOCTYPE html>
<html>
<head>
    <title>OH SHIT!</title>
</head>
<body>

    <ul>
        <% @beers.each do |beer| %>
            <li><a href=<%="/beers/#{beer.id}"%>><%= beer.name %></a></li>
        <% end %>
    </ul>

</body>
</html>